@media only screen and (max-width : 640px) {

    #owning-contact-div {
        min-height: 400px;
        display:  flex;
        flex-direction: column;

    }
    #form-contact-div {
        padding: 5px;
    }
    #Contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        width: 80%;
        margin: auto;
    }
   
    #Contact-form input,textarea {
        word-break: normal;
        height: 40px;
        outline: none;
        border-radius: 2px;
        background-color: #333;
        
    }
    #Contact-form textarea {
        min-height: 100px;
        resize: vertical;
        max-height: 150px;
    }
}

@media only screen and (min-width : 640px) {

    #owning-contact-div {
        min-height: 400px;
        display:  flex;
        flex-direction: column;

    }
    #form-contact-div {
        padding: 5px;
    }
    #Contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        width: 80%;
        margin: auto;
    }
   
    #Contact-form input,textarea {
        word-break: normal;
        height: 50px;
        outline: none;
        border-radius: 2px;
        background-color: #333;
        
    }
    #Contact-form textarea {
        min-height: 100px;
        resize: vertical;
        max-height: 150px;
    }
}